<div class="container">
  <h2 class="text-center">DECORACIONES</h2>
  <div class="card-border-color:rgba(0,0)">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="null">
      <div class="row">
        <div class="col-sm-4">
          <div class="card text-center" style="width: 10rem;">
            <img src="./assets/imagenes/decoracion1.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Decoración 1</h5>
              <p class="card-text">Precio</p>
              <a href="#!" class="btn btn-primary">AGREGAR</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center" style="width: 10rem;">
            <img src="./assets/imagenes/decoracion3.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Decoración 2</h5>
              <p class="card-text">Precio</p>
              <a href="#!" class="btn btn-primary">AGREGAR</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card text-center" style="width: 10rem;">
            <img src="./assets/imagenes/decoracion2.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Decoración 3</h5>
              <p class="card-text">Precio</p>
              <a href="#!" class="btn btn-primary">AGREGAR</a>
            </div>
          </div>
        </div>
      </div>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body text-center">
      <button type="button" class="btn btn-primary btn-lg">MÁS DECORACIONES</button>
    </div>
  </div>
</div>