<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VIZZLAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <a style="color:black">Administrador<i class="bi bi-person-bounding-box"></i></a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center"> 
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Pedidos Especiales</button>
        <button type="button" class="btn btn-primary">Pedidos de Producción</button>
        <button type="button" class="btn btn-primary">Modificar Pedido</button>
      </div>
    </div>
  </div>
  
  <div class="col-6 offset-3">
    <div class="row">
      <p class="fw-bold" >Pedido Especial</p>
      <div class="col-4">
    <p class="fw-bold" >COD:</p>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  <div class="col-4">
    <p class="fw-bold" >FECHA PEDIDO:</p>
    <input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  <div class="col-4">
    <p class="fw-bold" >COD USER:</p>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Preview</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Piedras especiales</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 50</td>
        </tr>
        <tr>
          <th scope="row">Lavado de pantalon</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 20</td>
        </tr>
        <tr>
          <th scope="row">Pantalon jean clasico</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 18</td>
        </tr>
      </tbody>
    </table> 
  
    <div class="col-12 border px-3 py-2">
    <p class="fw-bold">Descuento      S/ 8</p>
    <p class="fw-bold">Subtotal       S/ 80</p>
    <p class="fw-bold">IGV            S/ 14.4</p>
    <p class="fw-bold">Total a pagar  S/ 91.2</p>
  </div>
  <div class="my-4 px-2">
    <button type="button" class="btn btn-primary me-2">Volver</button>
    <button type="button" class="btn btn-primary ms-2">Confirmar</button>
  </div>
  </div>  
</div>

