<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">VIZZLAN</a>
    <form class="d-flex">
      <a  class="nav-link" style="color:white"> <span>Administrador<i class="bi bi-person-bounding-box"></i> </span> </a>
    </form>
  </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Evaluación Exitosa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se envio la evalución y el ticket al correo del usuario US0001
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center"> 
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Pedidos Especiales</button>
        <button type="button" class="btn btn-primary">Pedidos de Producción</button>
        <button type="button" class="btn btn-primary">Modificar Producto</button>
      </div>
    </div>
  </div>
  
  <div class="col-8 offset-2 my-5">
    <div class="row">
      <h3 class="fw-bold" >Pedido de Produccion</h3>
      <div class="col-3">
    <p class="fw-bold" >COD:</p>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  <div class="col-3">
    <p class="fw-bold" >FECHA PEDIDO:</p>
    <input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  <div class="col-3">
    <p class="fw-bold" >COD USER:</p>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
  </div>
  
  </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col">Preview</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio Unitario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Piedras especiales</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 50</td>
        </tr>
        <tr>
          <th scope="row">Lavado de pantalon</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 20</td>
        </tr>
        <tr>
          <th scope="row">Pantalon jean clasico</th>
          <td><a href="#" class="link-primary">Imagen</a></td>
          <td><input type="number" style="width: 50%;" min="1"></td>
          <td>S/ 18</td>
        </tr>
      </tbody>
    </table> 
  
    <div class="col-12 border px-3 py-2">
    <p class="fw-bold">Descuento      S/ 8</p>
    <p class="fw-bold">Subtotal       S/ 80</p>
    <p class="fw-bold">IGV            S/ 14.4</p>
    <p class="fw-bold">Total a pagar  S/ 91.2</p>
  </div>
  <div class="my-4 px-2">
    <button type="button" class="btn btn-primary me-2">Volver</button>
    <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button>
  </div>
  </div>  
</div>

