<div class="row">
    <app-nav-bar></app-nav-bar>
</div>
<div class="container">
    <div class="row">
        <app-breadcrumb [tituloMenu]="Menu">

        </app-breadcrumb>
    </div>
</div>
<div class="container">    
    <div class="row">
        <div class="col-6">
            <h2 class="text-center">PRODUCTOS</h2>
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item"
                    [ngClass]="{
                        active: isFirst,
                        lastactive: isLast,
                        even: isEven,
                        odd: isOdd
                    }"
                    [class.active]="isFirst"
                    [class.lastactive]="isLast"
                    [class.even]="isEven"
                    [class.odd]="isOdd" 
                    *ngFor="let item of ListaProductosPedidoEspecial;index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd">
                        <div class="row" class="text-center">
                            <img [src]="item.ImagenProductoPedidoEspecial" class="img-responsive fit-image2">
                        </div>
                        <div class="row-md">
                            <div class="carousel">
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <th scope="row">DECORACIÓN AÑADIDA</th>
                                        <td class="mx-3">{{item.TipoDecoracion}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">CANTIDAD</th>
                                        <td class="mx-3">
                                            <input type="number" class="form-control" [value]="item.Cantidad" [(ngModel)]="item.Cantidad" style="width: 50%" min="1">
                                        </td> 
                                    </tr>
                                    <tr>
                                        <th scope="row">PRECIO</th>
                                        <td class="mx-3">S/ {{item.PrecioDecoracion}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">MONTO DECORACIÓN</th>
                                        <td class="mx-3">S/ {{item.Cantidad*item.PrecioDecoracion}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <app-lista-decoraciones-principales>

            </app-lista-decoraciones-principales>
        </div>
    </div>
    <div class="row" class="row justify-content-md-center">
        <div class="col-6">
            <h2 class="text-center">RESUMEN DE PEDIDO ESPECIAL</h2>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row" >NÚMERO DE PRODUCTOS</th>
                    <td class="text-end">100</td>
                </tr>
                <tr>
                    <th scope="row" >NÚMERO DE DECORACIONES</th>
                    <td class="text-end">1</td>
                </tr>
                <tr>
                    <td scope="row" >VALOR DEL PEDIDO</td>
                    <td class="text-end">S/ 8990.00</td>
                </tr>
                <tr>
                    <td scope="row">DESCUENTO</td>
                    <td class="text-end">S/ 0.00</td>
                </tr>
                <tr>
                    <td scope="row">SUBTOTAL DECORACIÓN</td>
                    <td class="text-end">S/ 820.00</td>
                </tr>
                <tr>
                    <td scope="row">SUBTOTAL PRODUCTO</td>
                    <td class="text-end">S/ 6551.80</td>
                </tr>
                <tr>
                    <td scope="row">IGV (18%) </td>
                    <td class="text-end">S/ 1618.20</td>
                </tr>
                <tr>
                    <th scope="row">TOTAL A PAGAR</th>
                    <td class="text-end">S/ 8990.00</td>
                </tr>
                </tbody>
            </table>
            <div class="row" class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-primary">CONFIRMAR</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-secondary">CANCELAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
