 <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">VIZZLAN</a>
      <form class="d-flex">
        <a routerLink="/Carrito-compra" class="nav-link" style="color:white"> <span> <i class="bi bi-cart-fill mx-2"></i> <span>Cantidad: </span>{{datoCarrito.c_total}} | S/. {{datoCarrito.total}} </span> </a>
        <a routerLink="/Ingresar" class="nav-link" style="color:white" *ngIf="servicioComunicacion.nombreUsuario==null">Login<i class="bi bi-person-circle"></i></a>
        <div class="btn-group mx-4" >
          <button *ngIf="servicioComunicacion.nombreUsuario!=null"  type="button" class="btn btn-info dropdown-toggle bg-dark" data-bs-toggle="dropdown" aria-expanded="false" style="color: #f8f9fa;">
            <i class="bi bi-person-circle"></i><span class="ms-3">{{servicioComunicacion.nombreUsuario}} </span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
            <li><a class="dropdown-item" href="#">Mis Pedidos</a></li>
            <li><a class="dropdown-item" routerLink="/Pedido-especial">Pedido Especial</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/PedidoProduccion">Pedido de Produccion</a></li>
          </ul>
        </div>
        <button  class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"  ></span>
        </button>
      </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="col-4">
            <div class="row">
              <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Ingrese busqueda" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            </div>
          </div>
          
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=" ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/Productos">Jeans</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>