<body class = "bg-light">

<app-nav-bar>
</app-nav-bar>



<div class = "container">


  <div class = "row">
    <div class = "col-1">
      <div class = "row"> 
        <img src = ".\assets\imagenes\Productos\producto2_1.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_2.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_3.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_4.jpg" class = "imagen1">
        
      </div>
    </div>
    <div class = "col-5">
      <img src = ".\assets\imagenes\Productos\producto2.jpg" class = "imagen2">
    </div>
    <div class = "col-6">
      <div class = "card">
        <div class = "card-header">
          <h3 class = "text-center"> Pedido de Producción #001 </h3>
        </div>
        <div class = "card-body">
          <p class = "sku-container">
            <span class = "sku-label"> SKU: </span>
            <span class = "sku sku-value"> 2021010101010 </span>
          </p>
          <div class = "product-rating product-rating-small" role = "button" tabindex = "0" aria-hidden = "true">
            <div class = "stars-ranking stars-ranking-sprite--small stars-ranking-0"></div>
          </div>
          <div class = "form-group my-3">
            <h5> Producto </h5>
            <input type = "email" class = "form-control" id = "productoBase" placeholder = "Jeans Denim de Algodón" disabled>
          </div>
          <div class = "form-group my-3">
            <h5> Diseño </h5>
            <input type = "email" class = "form-control" id = "productoBase" placeholder = "DiseñoJeans.png" disabled>
          </div>
          <div>
            <h5>Colores</h5>
              <div class="d-flex justify-content-center">
                <a href="" class="mx-1 my-2"><img src="./assets/imagenes/cuadro gris.jpg" alt=""></a>
              </div>
            <h5>Talla</h5>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-dark btn-lg mx-1 my-2">30</button>
            </div>
            <h5> Cantidad </h5>
            <div class="d-flex justify-content-center my-3">
              <label for="" class="mx-2">  </label><input type="number"  [(ngModel)]="cantidad"  class="form-control " value="1"  style="width: 20%;" min="1" disabled>
            </div>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary my-3" routerLink = "/DisenoPersonalizado"> Editar Pedido </button>
          </div> 
          <div class="d-grid">
            <button type="button" class="btn btn-primary" data-bs-toggle = "modal" data-bs-target = "#exampleModal"> 
              Enviar Pedido 
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pedido solicitado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      
                    </button>
                  </div>
                  <div class="modal-body">
                    En tres dias como maximo se le enviara la respuesta de la solicitud
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="">Aceptar</button>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>


          
          <div class = "d-grid">
            <button type="submit" class="btn btn-primary my-3" routerLink = ""> Ir a Lista de Productos </button>
          </div>
            
        </div>
        
      </div>
    </div>
  </div>
  
</div>

<app-footer></app-footer>

</body>
