<app-nav-bar>
</app-nav-bar>

<div class = "container">
  <div class = "row">
    <app-breadcrumb [tituloMenu] = "Menu">      
    </app-breadcrumb>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-1">
      <div class = "row"> 
        <img src = ".\assets\imagenes\Productos\producto2_1.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_2.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_3.jpg" class = "imagen1">
        <br>
        <img src = ".\assets\imagenes\Productos\producto2_4.jpg" class = "imagen1">
        
      </div>
    </div>
    <div class = "col-5">
      <img src = ".\assets\imagenes\Productos\producto2.jpg" class = "imagen2">
    </div>
    <div class = "col-6">
    </div>
  </div>
</div>

