<app-nav-bar>
    
</app-nav-bar>
<main>
    <section class="py-5 text-center container">
        <div class="row py-log-5">
            <div class="col-log-6 col-md-8 mx-auto">
                <h1>DECORACIONES</h1>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-3">
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                  <span class="fs-1 fw-semibold">FILTRO</span>
                </a>
                <ul class="list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      MATERIAL
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim de algodón serge</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim crud</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim de orillo</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim elástico</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim de poliéster</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Denim orgánico</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
                      COLOR
                    </button>
                    <div class="collapse show" id="dashboard-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Negro</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Azul</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Plomo</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Blanco</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                      POSICIÓN
                    </button>
                    <div class="collapse show" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Scallop</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Presillas</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Yoke</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Dobladillo</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Bolsas de parche</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Cuerpo de bota</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Bolsa vaquera</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                      TIPO DE JEANS
                    </button>
                    <div class="collapse show" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Reta</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Skinny</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Jenning</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Capri</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Boot Cut</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Flare</a></li>
                        <li><a href="/Visualizar-decoraciones" class="link-dark rounded">Pantalona</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
                      PRECIO
                    </button>
                    <div class="collapse show" id="orders-collapse">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  50-70
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  70-90
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  90-120
                                </label>
                              </div>
                        </div>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                </ul>
              </div>
        </div>
        <div class="col-9">
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 roe-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion1.jpg" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion2.png" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion3.jpg" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion1.jpg" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion1.jpg" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="./assets/imagenes/Decoraciones/decoracion2.png" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                      </div>
                                      <small class="text-muted">9 mins</small>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>