<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">VIZZLAN</a>
    <form class="d-flex">
      <a  class="nav-link" style="color:white"> <span>Administrador<i class="bi bi-person-bounding-box"></i> </span> </a>
    </form>
  </div>
</nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deseas guardar los cambios
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button data-bs-dismiss="modal" type="button" class="btn btn-primary">Si</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center"> 
      <div class="col-12">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button routerLink="/Visualizar-estado-especial" type="button" class="btn btn-primary">Pedidos Especiales</button>
          <button routerLink="/Visualizar-estado-produccion" type="button" class="btn btn-primary">Pedidos de Producción</button>
        </div>
      </div>
    </div>
  
    <div class="col-10 offset-2 my-5">
      <h3 class="fw-bold" >Visualizar Estado</h3>
      <div class="container" class="col-10">
      <div class="row">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado de Evaluacion</th>
            <th scope="col">Administrador</th>
            <th scope="col">Modificar Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">AAA01</th>
            <th><input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></th>
            <th scope="row">No Evaluado</th>
            <th>AD0001</th>
            <th>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccion Estado</option>
                <option value="1">Confirmacion Pedido</option>
                <option value="2">Pedido Produccion</option>
                <option value="3">Pedido Listo</option>
                <option value="3">Listo para envio</option>
              </select>
            </th>
          </tr>
          <tr>
            <th scope="row">AAA02</th>
            <th><input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></th>
            <th scope="row">Evaluado</th>
            <th>AD0001</th>
            <th>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccion Estado</option>
                <option value="1">Confirmacion Pedido</option>
                <option value="2">Pedido Produccion</option>
                <option value="3">Pedido Listo</option>
                <option value="3">Listo para envio</option>
              </select>
            </th>
          </tr>
          <tr>
            <th scope="row">AAA03</th>
            <th><input type="date" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock"></th>
            <th scope="row">No Evaluado</th>
            <th>AD0002</th>
            <th>
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccion Estado</option>
                <option value="1">Confirmacion Pedido</option>
                <option value="2">Pedido Produccion</option>
                <option value="3">Pedido Listo</option>
                <option value="3">Listo para envio</option>
              </select>
            </th>
          </tr>
        </tbody>
      </table> 
    
      <div class="my-4 px-2">
        <button routerLink="/Visualizar-estado-produccion" type="button" class="btn btn-primary me-2">Volver</button>
        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Confirmar</button>
      </div>
      </div>  
    </div>
  </div>

