<nav class="navbar navbar-expand-lg navbar-light bd-indigo-900" style="background-color: #290661;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" style="color:whitesmoke;">Home</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
<div class="container my-4">
    <div class="row">
        
        <div class="col-6">
          <div class="col-12">
            <img class="img-fluid"src="https://scontent.flim20-1.fna.fbcdn.net/v/t1.6435-9/61586278_2689317367961173_5994912912215375872_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=973b4a&_nc_ohc=OA57rjJhuScAX8tcjvw&_nc_ht=scontent.flim20-1.fna&oh=a701aaa5d320c587565dded37008442f&oe=61ABAB06" alt="">
          </div>
            
        </div>
        <div class="col-6 my-5">
            <login></login>
        </div>
    </div>
</div>
