<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">VIZZLAN</a>
  </div>
</nav>
<div class="container my-4">
    <div class="row">
        <div class="col-6 my-5" >
          <div class="col-12">
            <img class="img-fluid" src="./assets/imagenes/Logo-Vizzlan.jpg" style="height: 70%;margin-top: 15%;margin-bottom: 15%;" alt="">
          </div>
        </div>
        
        <div class="col-6 my-5">
            <login></login>
        </div>
    </div>
</div>
