<div [id]="ide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
          <div class="carousel-item active ">
            <div class="col-12">
                <div class="row mx-5">
                  <ng-container *ngFor="let producto of Productos; index as i">
                    <div class="col-3" *ngIf="i<4">
                      <app-card [urlImage]='producto.rutaImg'   ></app-card>
                    </div>
                  </ng-container>
                  </div>
              </div>
          </div>
      <div class="carousel-item ">
        <div class="col-12">
          <div class="row mx-5">
              <ng-container *ngFor="let producto of Productos; index as i">
                <div class="col-3" *ngIf="3<i && i<8">
                  <app-card [urlImage]='producto.rutaImg'></app-card>
                </div>
              </ng-container>
            </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" id="before" type="button" [attr.data-bs-target]="identifier" data-bs-slide="prev">
      <span class="carousel-control-prev-icon border" aria-hidden="true" style="background-color: #b12917;" ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" id="next" type="button" [attr.data-bs-target]="identifier" data-bs-slide="next">
      <span class="carousel-control-next-icon border" aria-hidden="true" style="background-color: #b12917;"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
