<form>

  <div class = "col-md-6 offset-3">
    <h4 class="mb-3">Producto con diseño personalizado</h4>
    <div class = "row my-3">
      <div class = "form-group">
        <label for = "productoBase"> Nombre Producto </label>
        <input type = "email" class = "form-control" id = "productoBase" placeholder = "Jeans Miguelito (Talla 32, Color denim)" disabled>
      </div>
    </div>
  
    <div class = "row my-3">
      <div class = "form-group">
        <label for = "descripcionPedido"> Descripcion de pedido con diseño </label>
        <textarea class = "form-control" id = "descripcionPedido" rows = "5"></textarea>
        <small id = "helpDescripcion" class = "form-text text-muted"> Por favor, complete información sobre la ubicación deseada del diseno, tamaño para mayor información sobre su pedido </small>
      </div>
    </div>
    
    <div class = "row my-3">
      <div class = "form-group">
        <div class = "row my-2">
          <label for = "imageFile"> Imagen diseño personalizado </label>
        </div>
        <div class = "row my-2" >
          <input type = "file" class = "form-control-file" id = "imageFile">
        </div>
      </div>
    </div>

    

    <button type = "submit" class = "btn btn-primary" rolelink = "/PedidoProduccion"> Guardar Pedido de Diseño </button>

  </div>
</form>