  <section class="container">
    <div class="row">
      <app-breadcrumb [tituloMenu]="Menu">

      </app-breadcrumb>
    </div>
  </section>
<div class="container">
    <div class="row">
        <div class="col-12">
                <h1 class="border-bottom my-2">Carrito de compra</h1>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-8 mb-4">
            <app-lista-productos [ProductosCarrito]="ProductosCarrito">

            </app-lista-productos>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                  Detalle de compra
                </div>
                <div class="card-body">
                  <h5 class="card-title">Resumen</h5>
                  <ul class=" list-group list-group-flush">
                    <li class="list-group-item">Cantidad de productos: {{armarCarrito.c_total}} </li>
                    <li class="list-group-item">Subtotal: S/. {{armarCarrito.total}} </li>
                    <li class="list-group-item">Total a pagar: S/. {{armarCarrito.total}} </li>
                  </ul>
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button" routerLink="/RegistroEnvio"><i class="bi bi-cart-fill me-3" ></i>Comprar</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

