.form-control{
  width: 50%;
  display: block;
}

.form-group{
  width: 100%;
  display: block;
}

.forms{
  margin: 0 0 0 600px;
}


#inf{
  display: inline-block;
  width: 50%;
}

#buton-envio{
  display: block;
}

