/*.form-control{
  width: 50%;
  display: block;
}

.form-group{
  width: 100%;
  display: block;
}

.forms{
  margin: 0 0 0 600px;
}

<<<<<<< HEAD
#inf{
  display: inline-block;
  width: 50%;
}

#buton-envio{
  display: block;
}
=======
*/
>>>>>>> 7de427a3d7f1140057debd9680fb0240146cae82
